/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@font-face {
  font-family: Lato;
  src: url("../../fonts/LatoLatin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/LatoLatin-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/LatoLatin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/LatoLatin-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/LatoLatin-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #000;
}

.reveal {
  background-attachment: fixed;
  background-image: url("https://js.la/assets/css/images/light-bl.svg"), url("https://js.la/assets/css/images/light-br.svg"), url("https://js.la/assets/css/images/overlay.png"), linear-gradient(147deg, #000000 0%, #04619f 74%);
  background-color: #000000;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25vw, 25vw, auto, cover;
}
.reveal * {
  font-feature-settings: "liga" var(--liga, 1), "kern" var(--kern, 1);
}
.reveal section h1 {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03125em;
}
.reveal section h1 strong {
  font-weight: 900;
}
.reveal section h2, .reveal section h3, .reveal section h4, .reveal section h5, .reveal section h6 {
  text-transform: none;
  font-weight: 700;
}
.reveal section h2 + p,
.reveal section h2 + pre,
.reveal section h2 + div, .reveal section h3 + p,
.reveal section h3 + pre,
.reveal section h3 + div, .reveal section h4 + p,
.reveal section h4 + pre,
.reveal section h4 + div, .reveal section h5 + p,
.reveal section h5 + pre,
.reveal section h5 + div, .reveal section h6 + p,
.reveal section h6 + pre,
.reveal section h6 + div {
  margin-top: 32px;
}
.reveal section h1 strong, .reveal section h2 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#22F5F4, #00898B);
  -webkit-background-clip: text;
          background-clip: text;
}
.reveal section h2 + h3 {
  font-family: Lato, Helvetica, sans-serif;
  text-transform: none;
  font-weight: 400;
  color: #fff;
}
.reveal section h2 .h1 {
  margin-bottom: 0.125em;
  padding-bottom: 0.125em;
  display: block;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 1.6em;
  border-bottom: 0.15em solid currentColor;
}
.reveal section h1 em, .reveal section h2 em, .reveal section h3 em, .reveal section h4 em, .reveal section h5 em, .reveal section h6 em {
  font-style: italic;
  border-bottom: 0.125em solid currentColor;
}
.reveal section a, .reveal section a:hover, .reveal section a:active {
  text-decoration: underline !important;
}
.reveal section code {
  padding: 0 0.25ch;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25ch;
}
.reveal section pre {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: auto;
  max-width: 60rem;
  padding: 1ch;
  box-sizing: border-box;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #3FB1A3;
}
.reveal section pre code {
  max-height: 100%;
  box-sizing: border-box;
  font-size: 27.2px;
  line-height: 1.4;
  background: transparent;
  overflow-x: scroll;
  overflow-y: visible;
}
.reveal section pre mark {
  padding: 0 0.25em;
  font-weight: 900;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.reveal section ul,
.reveal section ol {
  margin-right: auto;
  margin-left: auto;
  max-width: 40rem;
}
.reveal section li {
  margin-top: 16px;
}
.reveal section p {
  margin-right: auto;
  margin-left: auto;
  width: 40rem;
  text-align: center;
}
.reveal section p:first-child:last-child {
  font-size: 1.6em;
}
.reveal section blockquote {
  padding: 2rem 0rem;
  position: relative;
  font-style: normal;
  border: solid currentColor;
  border-width: 2px 0;
  background: transparent;
}
.reveal section blockquote::before, .reveal section blockquote::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background: currentColor;
}
.reveal section blockquote::before {
  top: -12px;
  left: 0;
}
.reveal section blockquote::after {
  bottom: -12px;
  left: 0;
}
.reveal section blockquote > p {
  font-size: 1.6em;
}
.reveal section blockquote > p br {
  display: block;
  font-size: 1.5rem;
}
.reveal section blockquote cite {
  margin-top: 2rem;
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 32px;
}
.reveal section blockquote cite::before {
  content: "~ ";
}
.reveal section blockquote strong {
  font-size: 0.85em;
}
.reveal section i, .reveal section em {
  font-style: italic;
}
.reveal section b, .reveal section strong {
  font-weight: bold;
}
.reveal section th {
  font-weight: bold;
  font-style: normal;
}
.reveal section .sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.reveal section .link {
  margin-left: 0.25em;
  padding: 0.125em;
  display: inline-flex;
  align-items: center;
  border-radius: 0.125em;
  background-color: rgba(0, 0, 0, 0.25);
}
.reveal section .link:hover, .reveal section .link:active {
  background-color: rgba(229, 239, 245, 0.15);
}
.reveal section .link__icon {
  width: 0.8em;
  height: 0.8em;
}
.reveal section .complexity {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  gap: 2rem 1rem;
}
.reveal section .auth0-logo {
  margin-bottom: 0.1em;
  max-height: 1em;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
}
.reveal .hljs-keyword, .reveal .hljs-built_in, .reveal .hljs-type, .reveal .hljs-literal, .reveal .hljs-number, .reveal .hljs-regexp, .reveal .hljs-string, .reveal .hljs-subst, .reveal .hljs-symbol, .reveal .hljs-class, .reveal .hljs-function, .reveal .hljs-title, .reveal .hljs-params {
  color: rgba(255, 255, 255, 0.9505);
}
.reveal .hljs-comment, .reveal .hljs-doctag, .reveal .hljs-meta, .reveal .hljs-meta-keyword, .reveal .hljs-meta-string {
  color: #7ecbc1;
}
.reveal .hljs-section, .reveal .hljs-tag, .reveal .hljs-builtin-name, .reveal .hljs-attribute, .reveal .hljs-variable {
  color: rgba(255, 255, 255, 0.6);
}
.reveal .hljs-bullet, .reveal .hljs-code, .reveal .hljs-emphasis, .reveal .hljs-strong, .reveal .hljs-formula, .reveal .hljs-link, .reveal .hljs-quote {
  color: rgba(255, 255, 255, 0.925);
}
.reveal .hljs-selector-tag, .reveal .hljs-name, .reveal .hljs-selector-id, .reveal .hljs-selector-class, .reveal .hljs-selector-attr, .reveal .hljs-selector-pseudo {
  color: #c0e5e1;
}
.reveal .hljs-template-tag, .reveal .hljs-template-variable {
  color: #fff;
}
.reveal .hljs-addition, .reveal .hljs-deletion {
  color: rgba(255, 255, 255, 0.6);
}
.reveal .hljs-attr, .reveal .hljs-operator, .reveal .hljs-pattern-match, .reveal .hljs-typing, .reveal .hljs-constructor, .reveal .hljs-module-access, .reveal .hljs-module {
  color: #3FB1A3;
}
.reveal .colophon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 0;
  left: 20px;
  z-index: 1;
}
.reveal .colophon::after {
  content: "";
  display: block;
  width: 15vw;
}
.reveal .colophon__logo {
  padding: 1rem 5vw 1rem 0;
  width: 15vw;
}
.reveal .colophon__logo img {
  height: 8vh;
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
}
.reveal .colophon__link {
  padding: 0.4em 1em 0.6em;
  font-family: SF Mono, Operator Mono, monospace;
  font-style: italic;
  font-size: 0.6666666667em;
}
.reveal .keyboards,
.reveal .dates {
  display: grid;
  grid-template-columns: auto repeat(2, 20rem);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.reveal .keyboards > p,
.reveal .dates > p {
  margin: 0;
  width: auto;
}
.reveal .keyboards img,
.reveal .dates img {
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
}
.reveal .dates {
  grid-template-columns: repeat(3, 1fr);
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #000;
  background-color: #000;
}

.reveal {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: white;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: white;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: white;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3.6em;
}

.reveal h2 {
  font-size: 2.6em;
}

.reveal h3 {
  font-size: 1.6em;
}

.reveal h4 {
  font-size: 1.6em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: SF Mono, Operator Mono, monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: SF Mono, Operator Mono, monospace;
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #c0d8e7;
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: #e5eff5;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #89b6d2;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #c0d8e7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #c0d8e7;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #c0d8e7;
}

.reveal .progress span {
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #000;
  }
}