.colophon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 0;
  left: 20px;
  z-index: 1;

  &::after {
    content: '';
    display: block;
    width: 15vw;
  }
}

.colophon__logo {
  padding: 1rem 5vw 1rem 0;
  width: 15vw;

  img {
    height: 8vh;
    width: 100%;
    display: block;
    object-fit: contain;
    object-position: left center;
  }
}

.colophon__link {
  padding: .4em 1em .6em;
  font-family: $codeFont;
  font-style: italic;
  font-size: math.div(1em, 1.5);
}
