@mixin fonts($family, $file-name, $format, $style: false, $weight: false) {
  @font-face {
    font-family: $family;
    src: url('../../fonts/#{$file-name}') format('#{$format}');
    @if $style {
      font-style: $style;
    }
    @if $weight {
      font-weight: $weight;
    }
  }
}

@include fonts(Lato, 'LatoLatin-Regular.woff2', woff2, normal, 400);
@include fonts(Lato, 'LatoLatin-Italic.woff2', woff2, italic, 400);
@include fonts(Lato, 'LatoLatin-Bold.woff2', woff2, normal, 700);
@include fonts(Lato, 'LatoLatin-BoldItalic.woff2', woff2, italic, 700);
@include fonts(Lato, 'LatoLatin-Black.woff2', woff2, normal, 900);
