@use "sass:math";

/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import "fonts";

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;
$backgroundColorAlt: #000;

$mainColor: #fff;
$headingColor: rgba($mainColor, .85);

$preColor: #3FB1A3;

$mainFontSize: 32px;
$mainFont: Lato, Helvetica, sans-serif;
$headingFont: $mainFont;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: mix(#04619f, $mainColor, 25%);
$linkColorHover: lighten($linkColor, 10%);
$selectionBackgroundColor: lighten($linkColor, 25%);
$codeFont: SF Mono, Operator Mono, monospace;

$heading1Size: 3.6em;
$heading2Size: 2.6em;
$heading3Size: 1.6em;
$heading4Size: 1.6em;
$heading5Size: 1em;
$heading6Size: 1em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

.reveal {
  background-attachment: fixed;
  background-image:
    url("https://js.la/assets/css/images/light-bl.svg"),
    url("https://js.la/assets/css/images/light-br.svg"),
    url("https://js.la/assets/css/images/overlay.png"),
    linear-gradient(147deg, #000000 0%, #04619f 74%);
  background-color: #000000;
  background-position:
    bottom left,
    bottom right,
    top left,
    top center;
  background-repeat:
    no-repeat,
    no-repeat,
    repeat,
    no-repeat;
  background-size:
    25vw,
    25vw,
    auto,
    cover;

  * {
    font-feature-settings:
      "liga" var(--liga, 1),
      "kern" var(--kern, 1);
  }

  section {
    h1 {
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: math.div(1em, 32);

      strong {
        font-weight: 900;
      }
    }

    h2, h3, h4, h5, h6 {
      text-transform: none;
      font-weight: 700;

      + p,
      + pre,
      + div {
        margin-top: $mainFontSize;
      }
    }

    h1 strong, h2 {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(#22F5F4, #00898B);
      background-clip: text;
    }

    h2 + h3 {
      font-family: $mainFont;
      text-transform: none;
      font-weight: 400;
      color: $mainColor;
    }

    h2 .h1 {
      margin-bottom: .125em;
      padding-bottom: .125em;
      display: block;
      font-family: $headingFont;
      font-size: 1.6em;
      border-bottom: .15em solid currentColor;
    }

    h1, h2, h3, h4, h5, h6 {
      em {
        font-style: italic;
        border-bottom: .125em solid currentColor;
      }
    }

    a {
      &,
      &:hover,
      &:active {
        text-decoration: underline !important;
      }
    }

    code {
      padding: 0 .25ch;
      background-color: rgba($backgroundColor, .15);
      border-radius: .25ch;
    }

    pre {
      margin-right: auto;
      margin-left: auto;
      display: block;
      width: auto;
      max-width: 60rem;
      padding: 1ch;
      box-sizing: border-box;
      box-shadow: none;
      background-color: rgba(#000, .5);
      color: $preColor;

      code {
        max-height: 100%;
        box-sizing: border-box;
        font-size: $mainFontSize * .85;
        line-height: 1.4;
        background: transparent;
        overflow-x: scroll;
        overflow-y: visible;
      }

      mark {
        padding: 0 .25em;
        font-weight: 900;
        color: #fff;
        background-color: rgba(#000, .2);
      }
    }

    ul,
    ol {
      margin-right: auto;
      margin-left: auto;
      max-width: 40rem;
    }

    li {
      margin-top: math.div($mainFontSize, 2);
    }

    p {
      margin-right: auto;
      margin-left: auto;
      width: 40rem;
      text-align: center;

      &:first-child:last-child {
        font-size: $heading3Size;
      }
    }

    blockquote {
      padding: 2rem 0rem;
      position: relative;
      font-style: normal;
      border: solid currentColor;
      border-width: 2px 0;
      background: transparent;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        background: currentColor;
      }

      &::before {
        top: -12px;
        left: 0;
      }

      &::after {
        bottom: -12px;
        left: 0;
      }

      > p {
        font-size: $heading3Size;

        br {
          display: block;
          font-size: 1.5rem;
        }
      }

      cite {
        margin-top: 2rem;
        display: block;
        text-align: right;
        font-style: italic;
        font-size: $mainFontSize;

        &::before {
          content: "~ ";
        }
      }

      strong {
        font-size: .85em;
      }
    }

    i, em {
      font-style: italic;
    }

    b, strong {
      font-weight: bold;
    }

    th {
      font-weight: bold;
      font-style: normal;
    }

    .sr-only {
      position: absolute;
			height: 1px;
			width: 1px;
			overflow: hidden;
			clip: rect( 1px, 1px, 1px, 1px );
    }

    .link {
      margin-left: 0.25em;
      padding: 0.125em;
      display: inline-flex;
      align-items: center;
      border-radius: .125em;
      background-color: rgba($backgroundColorAlt, .25);

      &:hover,
      &:active {
        background-color: rgba($linkColorHover, .15);
      }
    }

    .link__icon {
      width: 0.8em;
      height: 0.8em;
    }


    .complexity {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
      gap: 2rem 1rem;
    }

    .auth0-logo {
      margin-bottom: .1em;
      max-height: 1em;
      display: inline-block;
      vertical-align: middle;
      fill: $mainColor;
    }
  }

  @import "code";
  @import "colophon";
  @import "keyboards";
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
